@import '@radix-ui/themes/components.css';
@import '@radix-ui/themes/tokens/base.css';
@import '@radix-ui/themes/tokens/colors/mauve.css';
@import '@radix-ui/themes/utilities.css';
@import 'atropos/scss';
@import 'tailwindcss';
@import './fonts.css';
@import './radix-theme.css';

@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';

:root{
  --global-font-family: 'Inter Variable', -apple-system, system-ui, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--global-font-family);
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button:focus,
a:focus {
  outline: none;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
  --default-font-family: var(--global-font-family)
}

.hero-bg {
  background-image: linear-gradient(#f8f8f8 1px, transparent 1px), linear-gradient(to right, #f8f8f8 1px, #fff 1px);
  background-size: 10px 10px;
  animation: move 1s linear infinite;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 10px;
  }
}

@keyframes rewind-demo-background-move {
  from {
    background-position: right -50% center;
  }
  to {
    background-position: right 50% center;
  }
}
