@import '@fontsource-variable/inter/index.css';
@import '@fontsource-variable/oswald/index.css';
@import '@fontsource-variable/roboto-slab/index.css';
@import '@fontsource/dseg7-modern/700.css';
@import '@radix-ui/themes/components.css';
@import '@radix-ui/themes/tokens/base.css';
@import '@radix-ui/themes/tokens/colors/mauve.css';
@import '@radix-ui/themes/utilities.css';
@import 'tailwindcss';
@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';
@import './radix-theme.css';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter Variable', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}
