@import '@fontsource-variable/comfortaa';
@import '@fontsource-variable/inter/index.css';
@import '@fontsource-variable/oswald/index.css';
@import '@fontsource-variable/roboto-slab/index.css';
@import '@fontsource/dseg7-modern/700.css';
@import '@radix-ui/themes/components.css';
@import '@radix-ui/themes/tokens/base.css';
@import '@radix-ui/themes/tokens/colors/mauve.css';
@import '@radix-ui/themes/utilities.css';
@import 'tailwindcss';
@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';
@import './radix-theme.css';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter Variable', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button:focus,
a:focus {
  outline: none;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

@keyframes crt-scanlines {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 20px;
  }
}

.animate-crt-scanlines {
  animation: crt-scanlines 1.2s linear infinite;
}

.hero-bg {
  background-color: #c70036;
  opacity: 0.05;
  background-image:  repeating-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), repeating-linear-gradient(45deg, #fff 25%, #c70036 25%, #c70036 75%, #fff 75%, #fff);
  background-position: 0 0, 14px 14px;
  background-size: 28px 28px;
}
